:root {
  --allfunds-light-blue: #242c4c;
  --allfunds-dark-blue: hsl(230, 49%, 12%);
  --allfunds-red: #d50032;
  --allfunds-gray: #ebecf0;
}

.App {
  height: 100%;
  width: 100%;
  background-color: var(--allfunds-gray);
}

.New-component {
  background-color: white;
  border: #fff 1px solid;
  border-radius: 10px;
}

.New-component:hover {
  box-shadow: 1px 8px 20px gray;
}

.Date {
  text-align: right;
}